/* global styles */

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #fff;
}
header {
    /* font-size: 30px; */
    font-family: 'Roboto Condensed', sans-serif;
}
header, main {
    display: block;
}
.container-fluid {
    max-width: 1250px;
}
/* .blue {
    color: #4aa4e0;
    background-color: transparent;
} */
img {
    max-width: 100%;
    height: auto;
}
img.avatar {
    width: 70px;
    height: 70px;
}
h3 {
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    color: transparent;
}
a {
    text-decoration: none;
    color: #fff;
}
.btn:hover {
    background-color: #4aa4e0;
}
.btn {
   background-color: #a9d5f1;
}
.btn-primary {
    border-color: rgb(30, 134, 204);
    color: #fff;
}
.icon-color {
    color: #345f73;
    /* color: red; */
}

/* global styles */


/* header */

.fixed-top {
    top: 0;
}
.navbar-expand-lg {
    flex-direction: row;
}
.navbar .navbar-brand.navbar-logo {
    /* background-image: url(/images/pullrequest-logo.svg); */
    height: 46px;
    width: 185px;
    min-width: 125px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}
.navbar .nav-item {
    padding: 8px;
}
.navbar li {
    cursor: pointer;
}
.logo {
    font-size: 1.50rem;
    margin-bottom: 4px;
}
.navbar-brand {
    font-size: 1.60rem;
}
.far, .fa-regular {
    font-size: 1.60rem;
}
.fas, .fa-solid {
    font-size: 1.60rem;
    font-weight: 600;
}
#icon-nav {
    padding-right: 0rem;
    padding-left: 0rem;
}
#search-nav {
    margin-left: 0.75rem;
}
.navbar .navbar-nav {
    align-items: center;
}
.d-flex {
    justify-content: center;
}
.d-flex .max-with {
    max-width: 400px;
}
.form-search {
    display: flex;
    max-width: 100%;
}
/* .circle-user-icon {
    color: #345f73;
} */
.dropdown-color-a {
    color: rgba(0,0,0,.55);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}
.dropdown-color:hover .dropdown-color-a {
    color: black;
}
/* .dropdown-color:hover {
    color: black;
} */
.top-menu .nav-item .nav-link::after{
    content: '';
    display: block;
    width: 100%;
    background-color: #345f73;
    height: 2px;
    transition: all .3s;
    transform: scale(0);
}
.top-menu .nav-item .nav-link:hover::after {
    transform: scale(1);
}
.nav-logo-img-wrapper {
    width: 40px;
    height: 40px;
}
.nav-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 9999px;
}

/* header */


/*information block*/

.section {
    border: 2px solid rgb(235, 238, 240);
    border-radius: 15px;
}
.section-1 {
    height: 85px;
}
.height-info-bloсk {
    height: 100%;
}
.section-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.section-text-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.bg-light-blue {
    background-color: #f5fbff;
}
.img-wrapper {
    width: 70%;
    height: auto;
    position: relative;
    /* margin-right: 15%; */
}
.h-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.user {
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo-img-wrapper {
    width: 70px;
    height: 70px;
}
.avatar {
    object-fit: cover;
    border-radius: 9999px;
}
.technology {
    font-size: 30px;
    background-color:white;
    /* color: #ffd700; */
    color: #ffbf00;
}
.date-technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 70px;
    margin-left: 15px;
    font-size: 20px;
    color: #183153;
}
/* .user-link {
    font-weight: 700;
    color: rgb(91, 112, 131);
    font-size: 30px;
}
.user-link:hover {
    color: #a9d5f1;
} */
.post-add {
    font-size: 14px;
    font-weight: 700;
    color: rgb(146, 155, 163);
    font-style: italic;
}
.text-post {
    margin-top: 18px;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.35;
    text-align: justify;
}
.resource {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.resource-link {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 21px;
    color: var(--bs-body-color);
}
.resource-link:hover {
    /* color: #345f73; */
    color: black;
}
.fa-arrow-right-long {
    /* color: #4aa4e0;  */
    margin-bottom: -10px;
    margin-left: 10px;
}
.text-link{
    /* color: #4aa4e0; */
    font-weight: 700;
}
.close {
    min-height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* likes-comments */

.post-like-comment {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    margin-left: -1px;
}
@media screen and (max-width: 767px) {
    .post-like-comment {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-left: 0px;
    }
}
.comment-like {
    display: flex;
    justify-content: center;
    align-items: center;
}
.like-post-button {
    font-size: 30px;
    border-radius: 10px;
    display: flex;
    background-color: white;
    border: none;
}
.like-button:hover {
    background-color: white;
}
.counter-likes {
    font-size: 12px;
    height: 15px;
    width: 15px;
    font-weight: 700;
    border-radius: 3px;
    background-color: #fb06069c;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 2px;
}
.counter-comments {
    font-size: 12px;
    height: 15px;
    width: 15px;
    font-weight: 700;
    /* background-color: red; */
    border-radius: 3px;
    background-color: #fb06069c;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 2px;
}
/* .fa-thumbs-up {
    color:#345f73;
} */
/* .fa-comment {
    color:#345f73;
} */

/* likes-comments */

/* modal */

.modal {
    font-family: 'Roboto Condensed', sans-serif;
}
.modal-view {
    border-radius: 15px;
    border: 2px solid rgb(235, 238, 240);
}
.modal-body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-comment-modal {
    display: flex;
    flex-direction: column;
}
.form-auth-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-form-auth {
    font-size: 18px;
    color: rgb(15, 20, 25);
    margin: 10px 0 10px 0;
}
.form-margin-top-bottom {
    margin-top: 15px;
}
.link-registr-wrapp {
    font-size: 16px;
    color: rgb(127, 127, 127);
    margin: 10px 0 10px 0;
}
.link-registr {
    color: black;
    font-weight: 700;
}
.link-registr:hover {
    color: #4aa4e0;
}
.btn-auth {
    max-width: 120px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
/* .btn-auth:hover {
    background-color: #4aa4e0;

} */
.btn-margin-left {
    margin-left: 5px;
}
.logo-auth {
    color: rgba(56, 87, 170, 0.87);
}
.link-logo-auth {
    color: rgba(56, 87, 170, 0.87); 
}
.btn-add-comment {
    width: 100%;
}
/* .btn-add-comment:hover {
    background-color: #28557a;
} */
.user-add-comment {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 30px;
    margin-bottom: 15px;
}
.date-add-comment {
    margin-top: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.logo-img-wrapper-modal {
    width: 50px;
    height: 50px;
}
.avatar-modal {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 9999px;
}
.text-comment {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.35;
    text-align: justify;
}
.modal-header-flex {
    display: flex;
    justify-content: center;
}
.modal-btn-flex {
    display: flex;
    justify-content: space-around;
}
.modal-question {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.modal-footer-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.btn-footer-width {
    width: 48%;
    /* background-color: #a9d5f1; */
}
.btn-footer-width-a {
    width: 100%;
    /* background-color: #a9d5f1; */
}
/* .btn-footer-width:hover {
    background-color: #4aa4e0;
} */

/* modal */

/* registr */

.logo-choice {
    display:flex;
    justify-content: center;
    width: 100%;
}
.section-registr {
    max-width: 675px;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(235, 238, 240);
    border-radius: 15px;
}
.wrapper-form-registr{
    margin-top: 30px;
    width: 85%;
    height: 525px;
    display: flex;
    flex-direction: column;
}
/* .btn-registr:hover {
    background-color: #4aa4e0;;
} */
.margin-img-wrapper {
    margin-bottom: 30px;
}
.div-avatar {
    display: none;
}
.custom-file-input {
    color: transparent;
}
.post-form__error {
	font-size: 16px;
	color: rgb(255, 0, 0);
	margin: 10px 0 10px 0;
	text-align: center;
}

/* registr */

/* cabinet */
.section-add-message {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(235, 238, 240);
    border-radius: 15px;
}
.add-image {
    display: flex;
    flex-direction: column;
}
.add-message {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
/* .btn-add-message:hover {
    background-color: #4aa4e0;
} */
.margin-message-text {
    margin-top: 15px;
}
/* cabinet */



